extend ./layout
block content
	div.row.p-4
		div.col-md-4
			form(action="/signup",method="POST")
				div.form-group
					label(for="email") Email
					input(type="email",name="email",class="form-control",placeholder="email",id="email")
				div.form-group
					label(for="password") Contraseña
					input(type="password",name="password",class="form-control",placeholder="Contraseña",id="password")
				input(type="submit",value="Iniciar sesión", class="btn btn-primary")
				a(href="/register",class="btn btn-info") Registrar