extend ./layout
block content
	div.row.p-4
		div.col-md-4
			form(action="/register",method="POST")
				div.form-group
					label(for="email") Email
					input(type="email",name="email",class="form-control",placeholder="email",id="email")
				div.form-group
					label(for="password") Contrase単a
					input(type="password",name="password",class="form-control",placeholder="Contrase単a",id="password")
				div.form-group
					label(for="password_confirmation") Repetir Contrase単a
					input(type="password",name="password_confirmation",class="form-control",placeholder="Repetir Contrase単a",id="password_confirmation")
				input(type="submit",value="Registrar", class="btn btn-primary")
				a(href="/login",class="btn btn-info") Login
	div.row.p-4
		table.table.table-striped
			thead.bg-blue
				th email
				th password
			tbody
				each doc in docs
					tr
						td= doc.email
						td= doc.password
				else
					tr
						td(colspan="2") No hay registros